body {
    background-color: #3e3e3e;
}

h1 {
  color: white;
  margin-left: 0.5em;
}

h2 {
  color: white;
}

p {
  color: white;
}

.video_boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.video_box {
  margin: auto;
  max-width: 100%;
  max-width:

}

.video_title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

.video_date {
  margin: 0;
  padding-bottom: 1em;
}

@media (min-width: 1000px) {
  .video_box {
    width: 50%;
  }
}
