  /* stylelint-disable */
body {
  display: flex;
  background-color: #3e3e3e;
  justify-content: center;
}

main { 
  max-width: 80%;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

p {
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
}

.videotitle {
  h1 {
    text-align: center;
  }
}
/* stylelint-enable */

.video_boxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  justify-content: flex-start;
  align-content: flex-start;
}

.video_box {
  max-width: 100%;
}

.video_box .VideoImg {
  max-width: 95%;
  object-fit: contain;
}

.video_title {
  margin: 0;
  margin-top: 30px;
  font-size: 1.25em;
  font-weight: bold;
}

.video_date {
  padding-bottom: 1em;
  margin: 0;
}

.video_duration {
  margin-top: -25px;
  margin-right: 25px;
  margin-bottom: -25px;
  color: #fff;
  text-align: right;
}

.tilBaka {
  display: block;
  margin: auto;
  margin-top: 3em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.divvid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.overlay {
  position: absolute;
}
@media (min-width: 750px) {
  .video_box {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .video_box {
    width: 30%;
  }
}

.hide {
  display: none;
}

.button > .picture {
  width: 2.5em;
  padding: 0.5em;
}

.buttons {
  display: flex;
  justify-content: center;
}

.video {
  max-width: 100%;
}
